.footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.iconLink {
  color: #fff;
  padding: 0.3rem 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 1rem;
}

.iconLink:first-of-type {
  padding: 0.3rem 0.6rem;
}

.iconLink:last-of-type {
  margin-right: 0;
}

.iconLink:hover {
}

/* Media Queries */
@media (min-width: 950px) {
  .footer {
    justify-content: flex-end;
  }
}
